@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Photo Of The Day</h1>
    <p class="lead">Photo Of The Day is a website for enthusiasts who want to share beautiful and inspiring images.</p>
    <p><a href="/photos" class="btn btn-primary btn-lg">View photos &raquo;</a></p>
    <p><a href="/photos/submit" class="btn btn-primary btn-lg">Submit a photo &raquo;</a></p>
</div>